﻿

@model Clockwork.Web.Models.TimeZoneModel

<script>
    function UserAction() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = DisplayTime
        var timeZone = $("#dropdown").val();
        var request = { "timeZone": timeZone }
        xhttp.open("POST", "http://localhost:56453/api/currenttime", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(JSON.stringify(request));
    }

    function DisplayTime() {
        if (this.readyState == 4 && this.status == 200) {
            const jsonResponse = JSON.parse(this.responseText);
            const date = new Date(jsonResponse.time);
            const time = date.toLocaleString('en-US', { hour: 'numeric', minute: 'numeric', hour12: true });
            const timeZone = jsonResponse.timeZone
            $("#output").html(`${time} <span style="font-family: Gill Sans">${timeZone}`);
            GetEntries();
        }
    }

    function GetEntries() {
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = FillTable
        xhttp.open("GET", "http://localhost:56453/api/currenttime/getall", true);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }

    function FillTable() {
        if (this.readyState == 4 && this.status == 200) {
            $("#table").empty();
            $("#table").append(`<tr id="headers" class="thead-light">`)
            var jsonGetEntriesResponse = JSON.parse(this.responseText);
            AppendHeaders(jsonGetEntriesResponse[0]);
            FillRows(jsonGetEntriesResponse);
        }
    };

    function AppendHeaders(jsonObject) {
        for (var key of Object.keys(jsonObject)) {
            $("#headers").append(`<th>${key}`)
        }
    }

    function FillRows(jsonArray) {
        for (let i = 0; i < jsonArray.length; i++) {
            $("#table").append(`<tr id="${i}">`);
            for (var key of Object.keys(jsonArray[i])) {
                $(`#${i}`).append(`<td>${jsonArray[i][key]}`);
            }
        }
    }

    $(document).ready(function () {
        GetEntries();
        $('.selectpicker').selectpicker({
            liveSearch: true,
            showSubtext: true,
        });
    })
</script>

<div class="container-fluid">
    <div class="center card align-items-center white-font">
        <h2>AWH Clockwork Project @ViewData["Version"] on @ViewData["Runtime"]!</h2>
        <form>
            <h3>Choose a Time Zone</h3>
            @Html.DropDownListFor(m => m.SelectedTimeZoneInfo, Model.TimeZones, new { @id = "dropdown", @class = "selectpicker form-control" })
        </form>
        <br />
        <button type="submit" onclick="UserAction()">Get the time</button>
        <br />
        <p id="output" class="digital"></p>
    </div>

    <br />
    <h2>Previous Entries</h2>
    
    <div style='display: grid; background-color: antiquewhite' class="table-responsive">
    <table id="table" class="table">
        <tr id="headers">
    </table>
    </div>
</div>
