﻿body {

}

.center {
    text-align: center
}

.digital {
    font-family: digital;
    font-size: 40px;
}

@font-face {
    font-family: digital;
    src: url(DIGITALDREAM.ttf);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: royalblue
}

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.cardcontainer {
    padding: 2px 16px;
}

.white-font {
    color: whitesmoke
}